/* 
Tablet **************************************************
*
*
*********************************************************
 */
 @media only screen and (min-width: 600px){
    .mainrecent {
        max-width: 100%;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;
    }

    .recent {
        margin-top: 135px;
    }

    .hideHR {
        display: none;
    }

    .tiles {
        width: 80%;
        justify-self: center;
        justify-items: center;
        align-items: center;
        justify-content: center;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
    }

    #contributors {
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto;
    }
}
