
 @media only screen and (min-width: 600px){
    .mainrecent {
        width: 100%;
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;
    }

    .recent {
        margin-top: 135px;
    }

    .hideHR {
        display: none;
    }

    #contributors {
        display: grid;
        grid-template-areas: "heading heading heading"
                                "one two three";
        grid-template-columns: 33% 33% 33%;
    }

    #contributors > h2 {
        grid-area: heading;
    }

    .cOne {
        grid-area: one;
    }

    .cTwo {
        grid-area: two;
    }

    .cThree {
        grid-area: three;
    }

    #contributors > div > a > img {
        max-width: 100%;
        height: auto;
    }

    footer {
        margin-top: 50px;
    }
}
